h1 {
    font-family: fantasy;
    text-align: center;
    text-decoration: underline;    
  }

  p {
    font-family: sans-serif;
    text-align: justify;
    font-size: 20px;
  }

  body {
    background-color: rgb(146, 180, 244);
    padding: 2%;
  }

  #lugar {
    font-style: italic;
  }

  .example-item {
    font-size: 20px;
  }
  
  #trybe {
    text-decoration: underline;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    font-size: 20px;
  }

  img {
   
  }

  h3, h4 {
    font-size: 25px;
  }

  li {
    font-size: 20px;
  }

  #foto {
    float: left;
    height: 280px;
    padding: 10px; 
    background-color: aqua;   
  }

  #container {
    height: 300px;
    position: relative;
  }

  #description {
    position: absolute;
    right: 100px;
    bottom: 120px;
  }

  ul li:nth-child(odd) {
    color: white;
  }

  #discord {
    color: black;
  }